.item-list-container {
  text-align: center;
  margin-top: 20px;
}

.greeting {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 300px; /* Ajusta el ancho de la tarjeta según tus necesidades */
  margin: 10px; /* Espaciado entre las tarjetas */
}

.card img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% de la tarjeta */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}
